<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details Form</title>
    <style>
        :root{
            background-color: rgb(222, 247, 176);
            background-image: url(download.png);
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <center>
    <br><br>
    <h2>Total Bill Details </h2>
    <form action="submit_form.php" method="post">
        <label for="name">Name :</label>
        <input type="text" id="name" name="name" ><br><br>
        <label for="amount">Amount :</label>
        <input type="amount" id="amount" name="amount"><br><br>
        
        <input type="submit" value="Click to Pay">
    </form>
</center>
</body>
</html>
